.video-container {
  display: flex;
}

.heading {
}

.box-1 {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.responsive-container {
  width: 640px;
  height: 360px;
}

.button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
  padding: 8px 30px 8px 30px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  width: 250px;
}

.icon {
  height: 50px;
  width: 50px;
  color: orangered;
}

.tube {
  margin-left: 5px;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.iconContainer {
  display: flex;

  align-items: center;
}

.thumbnailButton {
  background-color: transparent;
  border: 0px;
  margin-left: 150px;
}

.thumbnailImg {
  height: 230px;
  width: 320px;
  border-radius: 20px;
}
